<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/brand.svg')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    {% block styles %}
      <!-- Bootstrap CSS -->
        {{ fontawesome_html() }}
	    {{ bootstrap.load_css() }}
        <link id="theme" rel="stylesheet" href="{{url_for('static', filename='css/template.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/needsharebutton.min.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% endblock %}
    {% endblock %}
    <title>Lirivi</title>
  </head>
  <body>
  	<div class="layout">
      {% include "nav.html" %}
      {% include "side.html" %}
      <!-- Main Content (activate main-visible for feed) -->
      <div id="feed" class="main" data-mobile-height="">
                    <!-- Chat: Header -->
          <div class="chat-header py-4 py-lg-6 px-lg-8">
              <div class="container-xxl">
                  <div class="row align-items-center">
                      <!-- Close chat(mobile) -->
                      <div class="col-3 d-xl-none">
                          <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                  <a class="text-muted px-0" href="#" data-chat="open" id="back">
                                      <i class="icon-md fe-chevron-left"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <!-- Chat photo -->
                      <div class="col-6 col-xl-6">
                          <div class="media text-center text-xl-left">
                              <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                  <img id="slogo" src="{{url_for('static', filename='images/brand.svg')}}" class="avatar-img" alt="">
                              </div>

                              <div class="media-body align-self-center text-truncate">
                                  <h6 id="source" class="text-truncate mb-n1">Lirivi</h6>
                                  <small id="source_desc" class="text-muted">Lirivi is a social feed and ...</small>
                              </div>
                          </div>
                      </div>
                      <!-- Chat toolbar -->
                      <div class="col-3 col-xl-6 text-right">
                          <ul class="nav justify-content-end">
                              <!-- Mobile nav -->
                              <li class="nav-item list-inline-item d-block d-xl-none">
                                  <div class="dropdown">
                                      <a class="nav-link text-muted px-0" href="chat-1.html#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="icon-md fe-more-vertical"></i>
                                      </a>
                                      <div class="dropdown-menu">
                                          <a class="dropdown-item d-flex align-items-center" data-toggle="collapse" data-target="#chat-1-search" href="chat-1.html#">
                                              Share <span class="ml-auto pl-5 fe-search"></span>
                                          </a>
                                      </div>
                                  </div>
                              </li>
                              <!-- Mobile nav -->
                          </ul>
                      </div>
                  </div><!-- .row -->
              </div>
          </div>
          <!-- Chat: Header -->
          <!-- Default Page -->
          <div id="scroll" class="chat text-center adobe">
              <div class="container-xxl">
                <h3 id="title"></h3>
                <div id="content">
                </div>
                <div  class="text-muted">
                    <div id="awsome-content">
                        <div style="text-align:center; margin-top: 20%;">
                        <div class="avatar avatar-lg mb-5">
                            <img class="avatar-img" src="{{url_for('static', filename='images/brand.svg')}}" alt="">
                        </div>
  
                        <h6>Hey, There!</h6>
                        <p>Please select a feed to know more.</p>
                      </div> 
                    </div>
                    <div class="btn-group" role="group" id="more">
                        <a class="btn btn-link" target="_blank" href="" id="more-btn" >More</a>|
                        <a class="btn btn-link" href="" id="share-button"></a>
                    </div>
                </div>
              </div>
          </div>
          <!-- Default Page -->

      </div>
      <!-- Main Content -->
    </div>
    <!-- Your page content -->
    {% block content %}{% endblock %}
    	<div style="width: 100%; ">
		    {% block page_content %}{% endblock %}
		</div>
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="{{url_for('static', filename='js/plugins/plugins.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='js/sharect.js')}}"></script>
    <script src="{{url_for('static', filename='js/needsharebutton.js')}}"></script>
    <script src="{{url_for('static', filename='js/template.js')}}"></script>
    {% endblock %}
  </body>
</html>